@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: linear-gradient(rgba(19, 2, 2, 0.2), rgba(16, 9, 9, 0.2)), url("/2109.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 40px;
}

/* dark mode looking scrollbar */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #555;
}

::-webkit-scrollbar-thumb {
	background: #121212;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #242424;
}